
<div><h3>Register</h3></div>
<div>
    <form name="register_user" ng-submit="register_user.$valid && addUser()" novalidate>
        <label>First Name:</label>
        <input type="text" name="first_name" required ng-model="first_name">
        <label>Last Name:</label>
        <input type="text" name="last_name" required ng-model="last_name">
        <label>Username:</label>
        <input type="text" name="username" required ng-model="username">
        <label>Email:</label>
        <input type="email" name="email" required ng-model="email">
        <label>Password:</label>
        <input type="password" name="password" required ng-model="password">
        <label>Confirm Password:</label>
        <input type="password" name="re_password" required ng-model="re_password">
        <button type="submit">Register</button>
        <div>{{ msg }}</div>
    </form>
    <a href="#/">Login</a>
</div>