<div>Email: {{ email }}</div>
<div>Username: {{ username }}</div>
<div><h3>Edit Details</h3></div>
<div>
    <form name="edit_user" ng-submit="edit_user.$valid && updateUser()" novalidate>
        <label>First Name:</label>
        <input type="text" name="first_name" required ng-model="first_name">
        <label>Last Name:</label>
        <input type="text" name="last_name" required ng-model="last_name">
        <button type="submit">Update</button>
        <div>{{ msg }}</div>
    </form>
    <div><a href="" ng-click="logout()">Logout</a></div>
</div>