{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>Ng Rampup</title>
    {% block css  %}
        <link rel="stylesheet" type="text/css" href="{% static 'user_mgmt/style.css' %}" />
    {% endblock css %}
    {% block js %}
        <script type="text/javascript" src="{% static 'user_mgmt/js/angular.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'user_mgmt/js/angular-route.js' %}"></script>
        <script type="text/javascript" src="{% static 'user_mgmt/js/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'user_mgmt/js/controllers.js' %}"></script>
        <script>{% if id %}var user_id = {{ id }};{% endif %}</script>
    {% endblock js %}
</head>
<body ng-app="user_mgmt">
<div>
    <ng-view></ng-view>
</div>
</body>
</html>